library(shiny)
library(shinydashboard)
library(shinyWidgets)
library(shinyExample)

{{Global}}

{{SetLang}}

{{Dataset}}

{{Variable}}

ui <- dashboardPage(
  {{DashboardHeader}},
  {{DashboardSidebar}},
  {{DashboardBody}}
)

server <- function(input, output, session) {
  seed <- list(inBookmark=FALSE)

  onBookmark(function(state) {
    state$seed <- seed
  })

  onRestore(function(state) {
    seed <- state$seed
    seed$inBookmark <- TRUE
  })

  onRestored(function(state) {
    seed$inBookmark <- FALSE
  })

  onStop(function() {
	  if (isLocal()) {
	    count <- getMMstat('lang', 'stats', 'count')
	    cat(sprintf('gettext("%s"); // %.0f\n', names(count), count))
	  }
  })

  value <- function(val) {
    param <- substitute(val)
    {{Value}}
    return(val)
  }

  {{Observer}}

  {{Server}}
}

shinyApp(ui, server)
